/CDI/CDI-EE/nbproject/private/
/CDI/CDI-EE/CDI-EE-war/nbproject/private/
/CDI/CDI-EE/CDI-EE-ejb/nbproject/private/
/CDI/CDI-EE/CDI-EE-ejb/build/
/CDI/CDI-EE/CDI-EE-war/build/
/CDI/CDI-EE/CDI-EE-ejb/dist/
/CDI/CDI-EE/CDI-EE-war/dist/
/CDI/CDI-EE/dist/
/CDI/CDI-EE/build/